<template name="FlyerCover">
	<div class="flyer-cover {{#if isRep}}hasRep{{/if}}">
		<header class="flyer-cover-header">
			<div class="brands-logos">
				<img src="{{brandLogo}}" alt="Brand Logo" class="brand-logo">
				{{#if isRep}}
					<img src="{{repLogo}}" alt="Rep Logo" class="rep-logo">
				{{/if}}
			</div>
			<div class="brands-names">
				<p class="brand-name">{{brandName}}</p>
				{{#if isRep}}
					<p class="rep-name">{{repName}}</p>
				{{/if}}
				<p class="timestamp">{{timestamp}}</p>
			</div>
		</header>

		<main class="flyer-cover-main {{aspectClass}}" style="background-image: url({{coverImage}})">
			<p class="flyer-title">{{{title}}}</p>

			{{#if hasPrice}}
				<p class="flyerPrice">{{{price}}}</p>
			{{/if}}
		</main>

		<footer class="flyer-cover-footer">
			{{> InteractionBtns}}

			{{> Views}}
		</footer>
	</div>
</template>