/*************** Flyer Tags ***************/
.flyer-tags{
    width: 100%;
    height: 10.6%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    background-color: #99AD99;
    padding-top: 2.25px;
    padding-left: 6px;
    padding-right: 6px;
}
.flyer-tag-img{
    width: 15.7%;
    float: left;
    margin: 1px;
    margin-top: 1%;
}
/*************** Flyer Cover ***************/
.flyer-cover{
    width: 75%;
    margin: auto;
    margin-top: 10px;
}
.flyer-cover-img {
    background-image: url('/resources/searoom.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100% - 21.35%);
        background-size: 100% 100%;
}
.flyer-cover-header{
    background-color:rgba(255, 255, 255, 0.7);
    font-size: 9.52px;
    height: 16.27%; 
}
.flyer-cover-main{
    height: calc(100% -  16.27%);
    background-color:rgba(255, 255, 255, 0.3);
    font-size:15.68px;
    padding:3px;
}
.flyer-cover-footer{
    height: 10.75%;
    background-color: #99AD99;
    font-size: 9.52px;
}