/*************** Flyer ***************/
.flyer
    border: 1px solid #3b4a3b;
    margin: 4px 0;
    .interaction-btn
        display: inline-block;
        width: 12%;
        margin: 0 2px;
    
/*************** Flyer Tags ***************/
/*
.flyer-tags
    width: 100%;
    height: 10.6%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    background-color: #99AD99;
    padding-top: 2.25px;
    padding-left: 6px;
    padding-right: 6px;
.flyer-tag-img
    width: 15.7%;
    float: left;
    margin: 1px;
    margin-top: 1%;
*/
/*************** Flyer Cover ***************/
.flyer-cover
    width: 100%;
.flyer-cover-header
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20%;
    width: 100%;
    background: #99ad99;
.brands-logos 
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    padding-top: 20%;
    float: left;
.brands-logos > img 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
img.rep-logo 
    width: 75%;
    height: 75%;
    left: 50%;
    top: 50%;
    border-radius: 50%;
.brands-names 
    position: absolute;
    top: 0;
    left: 22%;
    color: #fff;
    text-shadow: #222 0.1em 0.1em 0.2em;
    width: 78%;
.brand-name 
    font-size: 1.5em;
    padding: 10px 0 9px 0;
    overflow: hidden;
    font-weight: bold;
.timestamp 
    text-align: right;
    overflow: hidden;
    display: inline-block;
    padding-right: 5px;
    float: right;
    color: #ececec;
    font-style: italic;
    font-size: 0.8em;
.flyer-cover-main
    background-color:rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-top: 1px solid #3b4a3b;
    border-bottom: 1px solid #3b4a3b;
.flyer-cover-footer
    height: 10.75%;
    background-color: #99AD99;
    font-size: 9.52px;

/*************** hasRep ***************/
.hasRep
    .flyer-cover-header 
        padding-top: 25%;
    .brands-names
        left: 30%;
        width: 70%;
    .brand-name 
        font-size: 1.4em;
        line-height: 1em;
        font-weight: bold;
        position: relative;
        left: -20px;
        padding-top: 10px;
        padding-bottom: 0;
    .rep-name 
        font-size: 1.1em;
        position: relative;
        padding-top: 5px;
        overflow: hidden;