/*************** AppHeader ***************/
.AppHeader {
    width: 100%;
    background-color: #99AD99;
    height: 9.7%;
    position: fixed;
    top: 0;
}
.header-icon-left {
    float: left;
    text-align: center;
    padding-top:1%;
    padding-left: 5px;
}
.header-icon-right {
    float: right;
    text-align: center;
    padding-top: 1%;
    padding-right: 5px;
}
.header-app-logo {
    text-align: center;
    padding-top: 3%;
    display: inline-block;
}
.main-nav li{
    display: inline-block;
}
/*************** AppFooter ***************/
.AppFooter{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}