/*************** General ***************/
body
    background-color: #4d614d !important;

/*************** Shared ***************/
[class*="aspect"] 
    position: relative;
    width: 100%;
    > * 
        position: absolute;
        top: 0;
        left: 0;
.aspect-4-3
    padding-top: 75%;
.aspect-16-9
    padding-top: 56.25%;
.aspect-9-16
    padding-top: calc(100% * 1.78);
.aspect-1-1
    padding-top: 100%;
p
    text-overflow: ellipsis;
.fleft
    float: left;
.fright
    float: right;
/*************** AppHeader ***************/
.AppHeader 
    width: 100%;
    background-color: #99AD99;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #3b4a3b;
    .main-nav
        display: inline-block;
        width: 100%;
        height: 100%;
.main-nav-ul
    padding: 5px;
    text-align: center;
    height: calc(100% - 10px);
    line-height: 3em;
.main-nav li
    display: inline-block;
.header-icon
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d614d;
    margin: 0px 2px;

/*************** MainLayout ***************/
.main-layout
    width: 96%;
    margin: auto;
    margin-top: 55px;

/*************** Interaction Buttons ***************/
.interaction-btn 
    > .btn
        background-color: rgba(255,255,255,0.7);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        box-sizing: content-box;
        width: calc(100% - 2px);
        padding: calc(100% - 2px) 0 0 0;
        border-radius: 50%;
    span
        display: inline-block;
        width: 100%;
        text-align: center;
        /*text-shadow: #222 0.1em 0.1em 0.2em;*/
        text-shadow: #b4ccb4 0.1em 0.1em 0.2em;
        color: #3b4a3b
    .title
        /*color: #fff;*/
        font-weight: bold;
    .count
        /*color: #ececec;*/
        font-style: italic;
.respect-btn
    background-image: url();
.review-btn
    background-image: url();
.point-btn
    background-image: url();

/*************** LoginModal ***************/
.login-modal
    display: none;
    form
        input
            width: 100%;
.login-modal.open
    display: block;
    z-index: 9999;

/*************** AppFooter ***************/
.AppFooter
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;