/*************** General ***************/
body
    background-color: #4d614d !important;
    width: 100%;
    &.modal-open
        overflow: hidden;
*
    box-sizing: border-box;
input
    max-width: 100%;
    margin: 0 !important;
.submit
    width: 100%;
    border-radius: 6px;
/*************** Shared ***************/
[class*="aspect"] 
    position: relative;
    width: 100%;
    > * 
        position: absolute;
        top: 0;
        left: 0;
.aspect-4-3
    padding-top: 75%;
.aspect-16-9
    padding-top: 56.25%;
.aspect-9-16
    padding-top: calc(100% * 1.78);
.aspect-1-1
    padding-top: 100%;
p
    text-overflow: ellipsis;
.fleft
    float: left;
.fright
    float: right;
.hidden
    display: none !important;
/*************** Modal ***************/
.modal.centered
    position: fixed;
    top: 20%;
    left: 0;
    width: auto;
    height: auto;
    max-height: 70%;
    background: #FFF;
    opacity: 0;
    overflow: auto;
    display: none;
    &.in
        display: block;
        opacity: 1;
    @media (max-width: 767px)
        &.in
            left: 15%;
            right: 15%;
            top: 15% !important;
.at-social-btn
    width: 100%;
    border-radius: 6px;
    margin-bottom: 3px;
/*************** AppHeader ***************/
.AppHeader 
    width: 100%;
    background-color: #99AD99;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #3b4a3b;
    .main-nav
        display: inline-block;
        width: 100%;
        height: 100%;
.main-nav-ul
    padding: 5px;
    text-align: center;
    height: calc(100% - 10px);
    line-height: 3em;
.main-nav li
    display: inline-block;
.header-icon
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 2px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
.search-btn
    background-image: url(/resources/Search.svg)
    > button
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 50%;
.back-btn
    background-image: url(/images/Header-02.png)
.login-toggle
    background-image: url(/resources/User.svg);
    > button
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 50%;
.home-btn
    width: 40%;
    max-width: 200px;
    border-radius: 0;
    background-image: url(/resources/Builders_Logo.svg);
    background-size: 100% 100%;

/*************** MainLayout ***************/
.main-layout
    width: 96%;
    margin: auto;
    margin-top: 55px;

/*************** Interaction Buttons ***************/
.interaction-btn 
    > .btn
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80% 80%;
        box-sizing: content-box;
        width: calc(100% - 2px);
        padding: calc(100% - 2px) 0 0 0;
        border-radius: 50%;
        border: 0;
    span
        display: inline-block;
        width: 100%;
        text-align: center;
        /*text-shadow: #222 0.1em 0.1em 0.2em;*/
        text-shadow: #b4ccb4 0.1em 0.1em 0.2em;
        color: #3b4a3b
    .title
        /*color: #fff;*/
        font-weight: bold;
    .count
        /*color: #ececec;*/
        font-style: italic;
.respect-btn
    background-image: url(/resources/Respect.svg);
.review-btn
    background-image: url(/resources/Review_Star.svg);
.point-btn
    background-image: url(/resources/Point.svg);

/*************** AppFooter ***************/
.AppFooter
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;