<template name="AppHeader">
    <header class="AppHeader">
    	<nav class="main-nav">
    		<ul class="main-nav-ul">
    			<li class="fleft">
        			<img src="/images/Header-01.png" alt="" class="header-icon"/>
    			</li>
    			<li class="fleft">
			        <img src="/images/Header-02.png" alt="" class="header-icon"/>
    			</li>
    			<li class="fcenter">
        			<img src="/images/Header-03.png" alt="" class="header-app-logo"/>
    			</li>
    			<li class="fright">
        			<img src="/images/Header-04.png" alt="" class="header-icon"/>
    			</li>
    			<li class="login-toggle fright">
        			<img src="/images/Header-05.png" alt="" class="header-icon"/>
    			</li>
    		</ul>
    	</nav>
    </header>

    {{> LoginModal}}
</template>