<template name="AppHeader">
    <header class="AppHeader">
    	<nav class="main-nav">
    		<ul>
    			<li>
        			<img src="/images/Header-01.png" alt="" class="header-icon-left"/>
    			</li>
    			<li>
			        <img src="/images/Header-02.png" alt="" class="header-icon-left"/>
    			</li>
    			<li>
        			<img src="/images/Header-03.png" alt="" class="header-app-logo"/>
    			</li>
    			<li>
        			<img src="/images/Header-04.png" alt="" class="header-icon-right"/>
    			</li>
    			<li class="login-toggle">
        			<img src="/images/Header-05.png" alt="" class="header-icon-right"/>
    			</li>
    		</ul>
    	</nav>
    </header>

    {{> LoginModal}}
</template>