<template name="MainLayout">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#4d614d">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#4d614d">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-status-bar-style" content="#4d614d">
	</head>

	<body>
		{{> AppHeader}}
		<!--{{> SearchMenu}}
		{{> AccountMenu}}-->

		<main class="main-layout">
			{{> Template.dynamic template=main}}		
		</main>			
	</body>
</template>