<template name="Cover">
    <div class="Cover">
        <div class="CoverTags">
            {{> CoverTags}}
        </div>
        <div class="clearfix"></div>
        <div class="CoverImg">
            <div class="Brands">
                {{> Brand}}
            </div>

            <div class="clearfix"></div>
            <div class="CoverBody">
                {{> CoverBody}}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="CoverFooter">
            {{> CoverFooter}}
        </div>
        <div class="clearfix"></div>
    </div>

</template>