<template name="Flyer">
    <div id="Flyer" class="Flyer">
        <div class="Tags">
            {{> Tags}}
        </div>
        <div class="clearfix"></div>
        <div class="FlyerImg">
            <div class="Brands">
                {{> Brand}}
            </div>

            <div class="clearfix"></div>
            <div class="FlyerBody">
                {{> FlyerBody}}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="FlyerFooter">
            {{> FlyerFooter}}
        </div>
        <div class="clearfix"></div>
    </div>
</template>